<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, class:"form-control", placeholder:"Student Name"  %>
  </div>

  <div class="form-group">
    <%= form.text_field :enroll_no, class:"form-control", placeholder:" Enrollment_No."  %>
  </div>

  <div class="form-group">
    <%= form.text_field :clg_start_date, class:"form-control", placeholder:"College Start Date" %>
  </div>

  <div class="form-group">
    <%= form.text_field :clg_end_date, class:"form-control", placeholder:"College End Date" %>
  </div>
  

  <div class="form-group">
    <%= form.text_field :gender, class:"form-control", placeholder:"Gender"  %>
  </div>

  <div class="form-group">
    <%= form.text_field :age, class:"form-control", placeholder:"Age"  %>
  </div>

  <div class="form-group">
    <%= form.text_field :contact, class:"form-control", placeholder:"Contact"  %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, class:"form-control", placeholder:"Email"  %>
  </div>

  <div class="form-group">
    <%= form.text_field :password, class:"form-control", placeholder:"Password"  %>
  </div>

  <div class="form-group">
    <%= form.text_field :permanent_address, class:"form-control", placeholder:"Permanent Address"  %>
  </div>

  <div class="form-group">
    <%= form.text_field :current_address, class:"form-control", placeholder:"Current Address"  %>
  </div>

  <div class="form-group">
    <%= form.text_field :aadhar_no, class:"form-control", placeholder:"Aadhar_No."  %>
  </div>

  <div class="form-group">
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>

