<div id="<%= dom_id student %>">

<table class="table">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Enroll_No</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Password</th>
      <th>Permanent_address</th>
      <th>Current_address</th>
      <th>Aadhar_No</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= student.name %>
      </td>
      <td>
        <%= student.enroll_no %>
      </td>
      <td>
        <%= student.clg_start_date %>
      </td>
      <td>
        <%= student.clg_end_date %>
      </td>
      <td>
        <%= student.gender %>
      </td>
      <td>
        <%= student.age  %>
      </td>
      <td>
        <%= student.contact %>
      </td>
      <td>
        <%= student.email %>
      </td>
      <td>
        <%= student.password %>
      </td>
      <td>
        <%= student.permanent_address %>
      </td>
      <td>
        <%= student.current_address %>
      </td>
      <td>
        <%= student.aadhar_no %>
      </td>
    </tr>
  </tbody>
</table>



  
 
   
