<div class="jumbotron">
  <h1 class="display-4">
    <%= @student.name %>
  </h1>
  <p class="lead">
    <%= @student.email %> |
    <%= @student.address %> |
    <%= @student.contact %>
  </p>
</div>


 <%= render @student %>

<div>      
  <%= link_to "Edit this student", edit_student_path(@student), class:"btn btn-secondary" %> 
  <%= link_to "Back to students", students_path , class:"btn btn-dark" %>
  <br/><br/>
  <%= button_to "Destroy this student", @student, method: :delete, class:"btn btn-danger" %>
</div>

