<div class="jumbotron">
  <h1 class="display-4">
    <%= @department.name %>
  </h1>
  <p class="lead">
    associated college name: <%= @department.college_id %> <br>
     course: <%= @department.course %>
  </p>
</div>
<%= link_to 'edit', edit_department_path(@department), class:"btn btn-secondary" %>
<%= link_to 'back to departments', departments_path, class:"btn btn-secondary" %>
<%= link_to 'delete', @department, data: {turbo_method: :delete,turbo_confirm: "Are you sure?" }, class:"btn btn-danger" %>