<div id="<%= dom_id college %>">

<table class="table">
  <thead>
    <tr>
      <th>College Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= college.name %>
      </td>
      <td>
        <%= college.email %>
      </td>
      <td>
        <%= college.address %>
      </td>
      <td>
        <%= college.contact %>
      </td>
    </tr>
  </tbody>
</table>




 
   
